#hero 
{
	background-image: url("../img/hero_image.jpg");
	border: solid 1px grey;
	background-position: top;
	background-repeat: no-repeat;
	background-size:100% auto;
	min-height: 764px;
	padding-left: 100px;
	padding-top: 100px;
}

.myhero 
{
	background-image: url("../img/hero_image.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 764px;
	padding: 6rem 6rem;
	/*padding-left: 100px;
	padding-top: 100px; */
}

.copy-block
{
	background-color: white;
	border-width: 2px;
	padding-top: 3rem;
	padding-bottom: 3rem;

}

.image-block 
{
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	min-height: 400px;
	padding-top: 7rem;
	margin-left: 0;
	color: white;
}

.time
{
	background-image: url("../img/time.jpg");
}

.stuck
{
	background-image: url("../img/stuck.jpg");
}


/*  TYPOGRAPHY */

body, h1, h2
{
	font-family: 'proxima nova';
}

.headline
{
	font-size: 54px;
	font-family: 'heiti tc';
	font-weight: 800;
	color: white;
	/* width: 400px;*/
	line-height: 1.2;
	letter-spacing: 12px;
}
.sub-headline
{
	font-size: 40px;
	font-family: 'proxima nova';
	font-weight: 800;
	color: white;
	/* width: 400px;*/
	line-height: 1.2;
}

h2
{
	border-bottom: solid 1px black;
	text-transform: uppercase;
	margin-bottom: 2rem;
	padding-bottom: .5rem;
	font-weight: 800;
}

h3
{
	border-bottom: solid 1px rgba(255,255,255,0.5);
	text-transform: uppercase;
	margin-bottom: 2rem;
	padding-bottom: .5rem;
	font-weight: 800;
	font-size: 1rem;
}


/* BUTTONS */

.btn-primary
{
	background-color: #14AECF;
	border-radius: 1px;
	border:none;
	font-family: 'proxima nova';
	font-weight: 700;
	font-size: 14px;
	padding: 15px 30px;
	letter-spacing: 1px;
}

.global-margin
{
	margin: 16px 0px;
}

.global-padding
{
    padding-left: 6rem;
    padding-right: 6rem;
}

.hr-white
{
	background-color: white;
	border-top: 2px solid white;
}
