.navbar
{
	background-color: #1A1A1A;
	height: 60px;



}

.navbar-brand
{
	position: absolute;
	top: 0px;
	left: 30px;
}

.navbar-nav
{
	margin-right: 40px;
}
.nav-item
{
	color: white;
	font-family: "proxima nova";
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7rem;
	letter-spacing: 4px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 3px;
	margin-right: 16px;
	margin-left: 16px;
}

.nav-link.active
{
	border-bottom: solid 1px rgba(255,255,255,0.6);



}



.myhero, .cta-block
{
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10rem 6rem;
	/*padding-left: 100px;
	padding-top: 100px; */
}

.myhero 
{
		background-image: url("../img/hero-image-2@2x.jpg");
		min-height: 500px;
		background-attachment: fixed;
}

.cta-block
{
		background-image: url("../img/cta-background@2x.jpg");
		min-height: 322px;
}

.copy-block
{
	background-color: white;
	border-width: 2px;
	padding-top: 3rem;
	padding-bottom: 3rem;

}


.copy-block h3
{
	border-color: rgba(0,0,0,0.2);
}

.image-block 
{
	background-position: top;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size:cover;
	min-height: 400px;
	padding-top: 7rem;
	margin-bottom: .1rem;
	margin-left: 0;
	color: white;
}

.time
{
	background-image: url("../img/time.jpg");
}

.stuck
{
	background-image: url("../img/stuck.jpg");
}

.promotion
{
	background-image: url("../img/promotion.jpg");
}

.skills
{
	background-image: url("../img/skills.jpg");
	color: black;
}

.skills h3
{
	border-color: rgba(0,0,0,0.2);
}

.quote
{
	background-image: url("../img/quote.jpg");
	background-repeat: no-repeat;
	padding: 40px 20px 0px 40px;
}



.slider-size {
height: 600px; /* This is your slider height */
}
.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}


/*  TYPOGRAPHY */

body, h1, h2
{
	font-family: 'proxima nova';
	color: black;
}

.text-shadow
{
	text-shadow: 0px 0px 68px rgba(0, 0, 0, 0.5);
}


.headline
{
	font-size: 40px;
	font-family: 'heiti tc';
	font-weight: 800;
	color: white;
	/* width: 400px;*/
	line-height: 1.2;
	letter-spacing: 12px;
}

.sub-headline
{
	font-size: 36px;
	font-family: 'proxima nova';
	font-weight: 800;
	color: white;
	/* width: 400px;*/
	line-height: 1.2;
	text-transform: uppercase;

}

h2
{
	border-bottom: solid 1px black;
	text-transform: uppercase;
	margin-bottom: 2rem;
	padding-bottom: .5rem;
	font-weight: 800;
	font-size: 1.5rem;
}

.responsive-header
{
	width: 500px;
}

@media only screen and (max-width: 900px) {
    .responsive-header {
        width: 400px;
    }
}

@media only screen and (max-width: 795px) {
    .responsive-header {
        width: 300px;
    }
}

.your-coach h2
{
	margin-top: 80px;
}

.your-coach p
{
	padding-right: 100px;
}

h3
{
	border-bottom: solid 1px rgba(255,255,255,0.5);
	text-transform: uppercase;
	margin-bottom: 2rem;
	padding-bottom: .5rem;
	font-weight: 800;
	font-size: 1rem;
}

.testimonial {
	/* padding-top: 240px;*/
	text-align: center;
	width: 70%;
	color: black;
	font-family: 'proxima nova';
}

.testimonial > .quote
{
	font-weight: 700;
	font-size: 1.1rem;
}

p .quote
{
		padding-bottom: 0;
}

.testimonial > .about
{
	color: rgba(0,0,0,0.7);
	padding-left: 40px;
	padding-right: 20px;
	padding-top: 10px;
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 0.8rem;
}

.credentials
{
	margin-top: 40px;
}

.credentials h4
{
	background-color: #363636;
	color: white;
	padding:5px 0 5px 20px;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;
}

.credentials:before 
{
    content: '';
    position: absolute;
  	right: 95px;
    border-top: 34px solid white;
    border-left: 80px solid #363636;
    width: 0;
}

.credentials-container
{
	background-color: #EBEBEB;
}

.credentials ul
{
	margin-left: 20px;
	background-color: #EBEBEB;
	padding: 20px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.right
{
	text-align: right;
}

/* BUTTONS */

.btn-primary
{
	background-color: #14AECF;
	border-radius: 1px;
	border:none;
	font-family: 'proxima nova';
	font-weight: 700;
	font-size: 14px;
	padding: 15px 30px;
	letter-spacing: 1px;
}

.global-margin
{
	margin: 16px 0px;
}

.global-padding
{
    padding-left: 6rem;
    padding-right: 6rem;
}

.overlap
{
	margin-top: -40px;
}

.hr-white
{
	background-color: white;
	border-top: 2px solid white;
}


/** http://codepen.io/Rowno/pen/Afykb **/

.carousel
{
	padding-bottom: 30px;
}
.carousel-indicators li
{
	background-color: black;
}

.carousel-indicators li.active 
{
	background-color: red;
}



.carousel, 
.carousel-inner, 
.carousel-inner .carousel-item {
    height: auto;
}

.testimonial
{
	height: 420px;
}

.carousel-item:nth-child(1) {

}

.carousel-item:nth-child(2) {
    /* background: #51BCE8; */
}

.carousel-item:nth-child(3) {
    /* background: #E46653; */
}



