	<!-- Modal -->
	<div class="modal fade" id="mailingList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<h5 class="modal-title" id="exampleModalLabel">SCHEDULE YOUR FREE&nbsp;SESSION</h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          	<span aria-hidden="true">&times;</span>
	        	</button>
	      	</div>
	      	<div class="modal-body">

				<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" target="_blank" >
				<div style="display: none;">
					<input type="hidden" name="meta_web_form_id" value="1644780650" />
					<input type="hidden" name="meta_split_id" value="" />
					<input type="hidden" name="listname" value="awlist4674280" />
					<input type="hidden" name="redirect" value="http://different-beat.com/confirmation.html" id="redirect_6b8b1470ef9c5430e4607cd099896fc9" />

					<input type="hidden" name="meta_adtracking" value="My_Web_Form" />
					<input type="hidden" name="meta_message" value="1" />
					<input type="hidden" name="meta_required" value="name,email" />

					<input type="hidden" name="meta_tooltip" value="" />
				</div>
								<input id="awf_field-90693791" type="text" name="name" class="form-control" required placeholder="Your first name" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" />
								<input class="form-control" id="awf_field-90693792" type="text"  required name="email" placeholder="Your email address" tabindex="501" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} "/>

				<div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jGwsLOwcDGysDA==" alt="" /></div>
				
				<script type="text/javascript">
				// Special handling for facebook iOS since it cannot open new windows
				(function() {
				    if (navigator.userAgent.indexOf('FBIOS') !== -1 || navigator.userAgent.indexOf('Twitter for iPhone') !== -1) {
				        document.getElementById('af-form-1644780650').parentElement.removeAttribute('target');
				    }
				})();
				</script><script type="text/javascript">
				    <!--
				    (function() {
				        var IE = /*@cc_on!@*/false;
				        if (!IE) { return; }
				        if (document.compatMode && document.compatMode == 'BackCompat') {
				            if (document.getElementById("af-form-1644780650")) {
				                document.getElementById("af-form-1644780650").className = 'af-form af-quirksMode';
				            }
				            if (document.getElementById("af-body-1644780650")) {
				                document.getElementById("af-body-1644780650").className = "af-body inline af-quirksMode";
				            }
				            if (document.getElementById("af-header-1644780650")) {
				                document.getElementById("af-header-1644780650").className = "af-header af-quirksMode";
				            }
				            if (document.getElementById("af-footer-1644780650")) {
				                document.getElementById("af-footer-1644780650").className = "af-footer af-quirksMode";
				            }
				        }
				    })();
				    -->
				</script>

			</div>

	      	<div class="modal-footer justify-content-center border-0 pt-0">
	        	<button type="submit" class="btn btn-primary">SCHEDULE YOUR FREE SESSION</button>
			</div>
			
			<div class="af-element privacyPolicy justify-content-center">
				<p>You’ll also receive free occasional coaching by email to help you with your&nbsp;music.</p>
				<p>I respect your <a title="Privacy Policy" href="https://www.aweber.com/permission.htm" target="_blank" rel="nofollow">email privacy and inbox</a></p>

	       		</form>

	      	</div>
	    </div>
	  </div>
	</div>


<!-- AWeber Web Form Generator 3.0.1 -->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->

    <!-- 
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    -->





    <!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->
    <script src="js/scrollreveal.min.js"></script>
    	<script>
		// JavaScript
		window.sr = ScrollReveal({ reset: true, scale: 1, viewFactor: 0.2, duration: 800, });
		sr.reveal('.copy-block');
		sr.reveal('.image-block');
		sr.reveal('.your-coach');
		sr.reveal('#carousel');

	</script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  </body>
</html>