 	<nav class="navbar navbar-toggleable navbar-inverse">
  	<a class="navbar-brand" href="#"><img src="img/logo@2x.png" height="131" width="131"/></a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>
  		
  	
  		
  		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link active" href="index.html">COACHING</a>
		      <a class="nav-item nav-link" href="contact.html">CONTACT</a>
		    </div>
  		</div>
  
	</nav>